<div class="row">
  <div class="col-12">
    <h2 class="text-center">Premios</h2>

    <div class="row row-cols-3">
      {{#each premios}}
        <form action="/sorteo/{{codigo}}" method="post">
          <div class="col premios">
            <div class="card">
              <div class="card-header">
                {{codigo}}ยบ Premio
              </div>
              <div class="card-body">
                <ul>
                  <li>{{premiouno}}</li>
                  <li>{{premiodos}}</li>
                </ul>
                <button data-id="{{codigo}}" type="submit" class="btn btn-primary w-100">Sortear</button>
              </div>
            </div>
            
          </div>
        </form>
      {{/each}}
      {{#each ganadores}}
      <p>Ganador del premio </p>
      {{/each}}
    </div>
  </div>
</div>